<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand text-primary fw-bold fs-3" href="#">Cardify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
        <li class="nav-item"><a class="nav-link" href="#pricing">Pricing</a></li>
        <li class="nav-item"><a class="nav-link" href="#teams">For Teams</a></li>
        <li class="nav-item"><a class="nav-link" href="#integrations">Integrations</a></li>
      </ul>
      <div class="d-flex">
        <a href="#" class="btn btn-outline-primary me-2">Log In</a>
        <a href="#" class="btn btn-primary">Create my card</a>
      </div>
    </div>
  </div>
</nav>
